<ion-content text-center align-items-center (click)="closeTS()" style="background-color: #DDAD63" padding>
  <img src="assets/imgs/tick.png"
       style="width: 80%; height: auto; margin-left: auto;margin-right: auto;">

  <div text-center align-items-center
       style="width: auto; height: auto; margin-left: auto;margin-right: auto; padding-top: 10%">
    <h6 style="font-size: small"> Herzlich willkommen zu Express Logistik ihre Bestellung wurde erfolgreich
      Entgegenommen ! können Sie uns jeder Zeit telefonisch erreichen mit Freundlichen Grüßen ihr Express Logistik
      Team</h6>

    ————————————————
    <h5 style="font-size: medium">Express Logistik e.U.Inhaber Kerim ÖZCENGIZ </h5>
    <h6 style="font-size: medium">Firmenbuchnummer: ATU ‭: 7225 1323</h6> 
    <h6 style="font-size: small">Adresse: Kölgengasse 24/4 1110 Wien</h6>
    <h6 style="font-size: small">Telefon: +43 677 626 33 371</h6>
    <h6 style="font-size: small">E-mail: office@express-logistik.at</h6>
  </div>
</ion-content>
