<ion-header transparent>
  <ion-navbar transparent>
    <button style="color: white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center align-items-center ><img alt="logo" height="40"   src='assets/imgs/logo.png' > </ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center style="height: 100%; background-color: #222131;" padding>
<h3 style="color: white">Unsere Business Flotte</h3>
  <div padding>
    <ion-segment color="ikincil" [(ngModel)]="services">
      <ion-segment-button style="color: white" value="robert">
        Robert
      </ion-segment-button>
      <ion-segment-button style="color: white" value="mario">
        Mario
      </ion-segment-button>
      <ion-segment-button style="color: white" value="stevan">
        Stevan
      </ion-segment-button>
      <ion-segment-button style="color: white" value="murat">
        Murat
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="services">
    <ion-list *ngSwitchCase="'robert'">
          <img src="assets/imgs/robert.png">
    </ion-list>

    <ion-list *ngSwitchCase="'mario'">
          <img src="assets/imgs/mario.png">
    </ion-list>

    <ion-list *ngSwitchCase="'stevan'">
      <img src="assets/imgs/stevan.png">
    </ion-list>

    <ion-list *ngSwitchCase="'murat'">
      <img src="assets/imgs/murat.png">
    </ion-list>
  </div>

  <h3 style="color: white">Referenz</h3>
  <div padding>
    <ion-segment color="ikincil" [(ngModel)]="referenz">
      <ion-segment-button style="color: white" value="post">
        Post.at
      </ion-segment-button>
      <ion-segment-button style="color: white" value="kaufsofort">
        Kaufsofort
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="referenz">
    <ion-list *ngSwitchCase="'post'">
      <img src="assets/imgs/post.png">
    </ion-list>

    <ion-list *ngSwitchCase="'kaufsofort'">
      <img src="assets/imgs/kauf.png">
    </ion-list>
  </div>

</ion-content>
