<ion-header transparent>
  <ion-navbar transparent>
    <button style="color: white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center align-items-center ><img alt="logo" height="40"   src='assets/imgs/logo.png' > </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="height: 100%; background-color: #222131;" padding>
<ion-slides pager="true" paginationType="bullets">
  <ion-slide>
    <ion-card text-center justify-content-center style="background-color: red; height: auto; border-radius: 10px">
      <div margin-top="7%" style="color: white">
        <div class="listItem" >
          <h3 class="listItem">
            EKO PAKET
          </h3>
          <h1  style="font-size: x-large; font-weight: bold; font-style: oblique">€30/ Stunde</h1>
          <ion-item class="listItem">
            <ion-icon name="body" item-start></ion-icon>
            1. Fahrer
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="car" item-start></ion-icon>
            1. Kastenwagen
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="speedometer" item-start></ion-icon>
            Bis 60 KM
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="checkbox" item-start></ion-icon>
            Versicherung
          </ion-item>
          <button style="background-color: #31303E; color: white; width: 90%; margin-left: auto;
    margin-right: auto;" (click)="goForm()" ion-button block round>LOSLEGEN</button>
        </div>
      </div>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card text-center justify-content-center style="background-color: red; height: auto; border-radius: 10px">
      <div margin-top="7%" style="color: white">
        <div class="listItem" >
          <h3 class="listItem">
            XL PAKET
          </h3>
          <h1  style="font-size: x-large; font-weight: bold; font-style: oblique">€30/ Stunde</h1>
          <ion-item class="listItem">
            <ion-icon name="body" item-start></ion-icon>
            Fahrer
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="car" item-start></ion-icon>
            1. Kastenwagen
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="pie" item-start></ion-icon>
            1. Hilfsarbeiter
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="speedometer" item-start></ion-icon>
            Bis 70 KM
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="checkbox" item-start></ion-icon>
            Versicherung
          </ion-item>
          <button style="background-color: #31303E; color: white; width: 90%; margin-left: auto;
    margin-right: auto;" (click)="goForm()" ion-button block round>LOSLEGEN</button>
        </div>
      </div>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card text-center justify-content-center style="background-color: red; height: auto; border-radius: 10px">
      <div margin-top="7%" style="color: white">
        <div class="listItem" >
          <h3 class="listItem">
            EXPRESS PAKET
          </h3>
          <h1  style="font-size: x-large; font-weight: bold; font-style: oblique">€35/ Stunde</h1>
          <ion-item class="listItem">
            <ion-icon name="body" item-start></ion-icon>
            Fahrer
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="car" item-start></ion-icon>
            1. Kastenwagen / Ladebonword
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="pie" item-start></ion-icon>
            1. Hilfsarbeiter
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="speedometer" item-start></ion-icon>
            Bis 80 KM
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="checkbox" item-start></ion-icon>
            Versicherung
          </ion-item>
          <button style="background-color: #31303E; color: white; width: 90%; margin-left: auto;
    margin-right: auto;" (click)="goForm()" ion-button block round>LOSLEGEN</button>
        </div>
      </div>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card text-center justify-content-center style="background-color: red; height: auto; border-radius: 10px">
      <div margin-top="7%" style="color: white">
        <div class="listItem" >
          <h3 class="listItem">
            BUSINESS PAKET
          </h3>
          <h1  style="font-size: x-large; font-weight: bold; font-style: oblique">€40/ Stunde</h1>
          <ion-item class="listItem">
            <ion-icon name="body" item-start></ion-icon>
            Fahrer
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="car" item-start></ion-icon>
            1. Kastenwagen
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="pie" item-start></ion-icon>
            Hilfsarbeiter
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="speedometer" item-start></ion-icon>
            Bis 100 KM
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="checkbox" item-start></ion-icon>
            Versicherung
          </ion-item>
          <button style="background-color: #31303E; color: white; width: 90%; margin-left: auto;
    margin-right: auto;" (click)="goForm()" ion-button block round>LOSLEGEN</button>
        </div>
      </div>
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card text-center justify-content-center style="background-color: red; height: auto; border-radius: 10px">
      <div margin-top="7%" style="color: white">
        <div class="listItem" >
          <h3 class="listItem">
            BUSINESS PAKET 2
          </h3>
          <h1  style="font-size: x-large; font-weight: bold; font-style: oblique">€120/ 4 Stunde</h1>
          <ion-item class="listItem">
            <ion-icon name="body" item-start></ion-icon>
            Fahrer
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="car" item-start></ion-icon>
            1. Kastenwagen
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="pie" item-start></ion-icon>
            Hilfsarbeiter
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="speedometer" item-start></ion-icon>
            Bis 200 KM
          </ion-item>
          <ion-item class="listItem">
            <ion-icon name="checkbox" item-start></ion-icon>
            Versicherung
          </ion-item>
          <button style="background-color: #31303E; color: white; width: 90%; margin-left: auto;
    margin-right: auto;" ion-button (click)="goForm()" block round>LOSLEGEN</button>
        </div>
      </div>
    </ion-card>
  </ion-slide>

</ion-slides>
</ion-content>
