page-tarif {
  .vertical-align-content > *
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }

  .listItem{
    background-color: red;
    color: white;
  }
}
