
<ion-menu [content]="content" >


  <ion-content text-center align-items-center style="background-color: #222131;">
    <img style="width: 90%;height: auto;" src="assets/imgs/icon.png">

    <ion-list>
      <button menuClose style="background-color: #31303E; color: white" ion-button block round  *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
