<ion-header transparent>
  <ion-navbar transparent>
    <button style="color: white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center align-items-center ><img alt="logo" height="40"   src='assets/imgs/logo.png' > </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="height: 100%; background-color: #222131;" padding>
  <div margin-top="10%">
  <ion-slides  autoplay="1500" loop="true">
    <ion-slide>
      <ion-card text-center justify-content-center style="background-color: #31303E; height: auto; border-radius: 10px">
        <div text-center justify-content-center style="color: white; margin-top: 7%">

            <h2 style="color: red; font-weight: bold">
              Adler-Team
            </h2>
            <h4 style="color: white; font-style: normal">Unkompliziert zum besten Preis umziehen. Jetzt kostenlos Angebote erhalten!</h4>
          <img style="margin-left: auto; margin-right: auto" src="assets/imgs/sg1.png" width="104" height="63" />

              <p style="color: red; font-style: oblique">
                Joe Doe, Eagle Director
              </p>
          <p><img style="margin-left: auto; margin-right: auto; width: 40%; height: auto;" src="assets/imgs/forkit.png"/></p>


          </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card text-center justify-content-center style="background-color: #31303E; height: auto; border-radius: 10px">
        <div text-center justify-content-center style="color: white; margin-top: 7%">

          <h2 style="color: red; font-weight: bold">
            Mission
          </h2>
          <p text-left margin-left="50%" style="color: white; font-style: normal">
            ✓ Umzug
            <br>✓ Klaviertransport
            <br>✓ Möbeltransporte
            <br>✓ Post oder Breif transportieren</p>

          <h2 style="color: red; font-weight: bold">
            Vorstellung
          </h2>
          <h4 style="color: white; font-style: normal">Ihr Wunschobjekt für den Transport ist nicht in der Liste?
            Bitte teilen Sie uns Ihr Anliegen mit, wir beraten Sie gerne!</h4>
          <p><img style="margin-left: auto; margin-right: auto; width: 40%; height: auto;" src="assets/imgs/spr.png"/></p>


        </div>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card text-center justify-content-center style="background-color: #31303E; height: auto; border-radius: 10px">
        <div text-center justify-content-center style="color: white; margin-top: 7%">

          <h2 style="color: red; font-weight: bold">
            Adler-Komitee
          </h2>
          <h4 style="color: white; font-style: normal">Umzug Wien einfach ✚ günstig. Sie suchen nach Wiener Umzugsfirma für Umzugsservice, Übersiedlung ✚ Entrümpelung? ✓ Umzugsunternehmen hilft Ihnen beim Umziehen in ganz Österreich</h4>
          <img style="margin-left: auto; margin-right: auto" src="assets/imgs/sg2.png" width="104" height="63" />

          <p style="color: red; font-style: oblique">
            John Hassan, Vice - President
          </p>
          <p><img style="margin-left: auto; margin-right: auto; width: 30%; height: auto;" src="assets/imgs/box.png"/></p>


        </div>
      </ion-card>
    </ion-slide>
  </ion-slides>
  </div>

  <div>
    <ion-grid>
      <ion-row>
      <ion-col >
        <ion-item style="background-color: #31303E; color: white">
          <ion-icon name="checkbox" item-start></ion-icon>
          Klaviertransport
        </ion-item>
        <ion-item style="background-color: #31303E; color: white">
          <ion-icon name="checkbox" item-start></ion-icon>
          Instrumenten Umstellung im Haus
        </ion-item>
        <ion-item style="background-color: #31303E; color: white">
          <ion-icon name="checkbox" item-start></ion-icon>
          Drucker-/ Plotter-/ Kopierer Transport
        </ion-item>
        <ion-item style="background-color: #31303E; color: white">
          <ion-icon name="checkbox" item-start></ion-icon>
          Spezialtransporte
        </ion-item>
        <ion-item style="background-color: #31303E; color: white">
          <ion-icon name="checkbox" item-start></ion-icon>
          Spezialtransporte
        </ion-item>
        <ion-item style="background-color: #31303E; color: white">
          <ion-icon name="checkbox" item-start></ion-icon>
          Medizinische Gerätetransport
        </ion-item>
        <ion-item style="background-color: #31303E; color: white">
          <ion-icon name="checkbox" item-start></ion-icon>
          Post oder Breif transportieren
        </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
