<ion-header transparent>
  <ion-navbar transparent>
    <button style="color: white" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center align-items-center ><img alt="logo" height="40"   src='assets/imgs/logo.png' > </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="height: 100%; background-color: #222131;" padding>
<ion-grid >
  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/serv.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Brief</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 8€ </h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/barrow.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 5kg</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 8€</h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/barrow.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 10kg</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 10€</h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/barrow.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 30kg</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 15€</h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/barrow.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 60kg</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 30€</h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/barrow.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 80kg</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 40€</h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/barrow.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Bis 100kg</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 45€</h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/truck.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Rulo Läng</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 10€ </h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> Bis 1.5 Meter </h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/truck.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Rulo Läng</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 15€ </h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> Bis 3 Meter </h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div (click)="goForm()" style="color: white" >
        <div style="width:100%; height:auto; border: 4px solid #31303E; border-radius:5px; background: rgba(57,57,70,0.6)">
          <ion-row>
            <ion-col>
              <img class="cardImage" style="margin-top:22px; margin-left:20px" src="assets/imgs/truck.png" width="100" height="100" />
            </ion-col>
            <ion-col>
              <div style="">
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;">Rulo Läng</h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> 20€ </h5>
                <h5 style="margin-top: 23px; margin-right: 5%;  font-size:15px; color: #fff;"> Bis 5 Meter </h5>
                <h5 style="line-height: 23px; font-size: 20; color: #7dde12;"> 20%exld.Ust</h5>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-col>
  </ion-row>


</ion-grid>
</ion-content>
